/* // HeroImage.css */
.hero-container {
  background-color: black;
  color: white;
  padding: 20rem 20rem 5rem 20rem;
  text-align: left;
  height: 40vh;
  margin-top: -20vh;
  
}

.breadcrumb {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 54px;
  font-weight: bold;
  margin: 0;
}

.hero-subtitle {
  font-size: 24px;
  margin: 10px 0 0;
}

.hero-text{
    width: 40vw;
}