.hero-container {
  position: relative;
  width: 100%;
  height: 700px; /* Sesuaikan tinggi */
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
  text-align: left;
  overflow: hidden;
}

.hero-left {
  margin-left: 20rem;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%); /* Membuat gambar lebih gelap */
  z-index: -1;
}

.breadcrumb,
.hero-text {
  position: relative;
  z-index: 1; /* Pastikan teks tetap di atas gambar */
}

.hero-title {
  font-size: 3.5rem;
}
