/* Wrapper utama */
.swiper-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  gap: 40px;
  background: #333;
  padding: 5rem 0rem;
}

/* Bagian Swiper */
.swiper-container {
  width: 60%;
  margin-left: 0rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Bagian Deskripsi */
.slide-description {
  width: 40%;
  color: white;
  padding: 20px;
  text-align: left;
  z-index: 1;
}

.slide-description h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.slide-description p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 10;
}

/* Styling untuk bullet pagination */
.swiper-pagination-bullet {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ) !important; /* Ubah warna bullet ke putih transparan */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* Bullet aktif dengan efek animasi loading */
.swiper-pagination-bullet-active {
  background-color: white !important; /* Ubah warna bullet aktif ke putih */
  transform: scale(1.3);
}

/* Efek loading untuk bullet aktif */
.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 13px;
  height: 13px;
  border: 2px solid white;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: spin 3s linear infinite;
}

/* Animasi loading (spin) */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
